body {
    background: #F3F3F3;
    min-width: 1080px;
}

.clearfix {
    clear: both;
}

.arabolum {
    float: left;
}

.siteici {
    width: 1080px;
    margin: auto;
}

.container {
    padding: 20px 10px 20px 10px;
    background: #FFFFFF;
}

.bodyustkismi {
    display: flex;
}

.bodyustkismisolu {
    cursor: pointer;
    z-index: 1;
}

.bodyustkismisolu img {
    position: absolute;
    z-index: 0;
    width: 760px;
    height: 430px;
}

.boyustkismisagi {
    flex-grow: 1;
}

.bodyustkismisoluyazikismi {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 760px;
    height: 430px;
}

.yorumsayisi {
    display: inline-block;
    line-height: 28px;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background: hsl(204, 3%, 70%, 0.7);
}

.yorumsay {
    color: #fff;
    font-size: 13px;
}

.soluustu {
    display: inline-block;
    z-index: 2;
    padding: 10px;
}

.konu {
    display: inline-block;
    background-color: hsl(53, 76%, 70%, 0.7);
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
}

.konu span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.alt {
    position: relative;
    z-index: 2;
    padding: 1rem;
    color: #fff;
}

.bodyustkismisolu:hover {
    background-image: linear-gradient( rgba(7, 8, 7, 0.1), rgba(7, 8, 7, 0.3));
}

.bodyustkismisolu:hover .baslik {
    color: #FFD500;
}

.inceleme {
    display: inline-block;
    background-color: #FFD800;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.inceleme span {
    display: block;
    font-size: 0.7em;
    line-height: 12px;
}

.puan {
    font-size: 2em;
    font-weight: 900;
}

.icerikkonu {
    display: flex;
}

.tumicerikkonu ul li {
    display: inline-block;
    width: calc((100% - 2rem)/ 2);
    padding-right: 10px;
}

.tumicerikkonu ul {
    display: flex;
    flex-wrap: wrap;
}

.ustbosluk {
    margin-top: 1px;
}

.icerikkonuici {
    display: flex;
    flex-direction: column;
}

.icerikkonuimg img {
    width: 100% !important;
    height: 100% !important;
}

.icerikkonukat {
    color: #9da1a9;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
}

.icerikkonubaslik {
    color: #23262e;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
}

.icerikkonubaslik:hover span {
    transition: .5s;
    color: #FFD500;
}

.icerikkonualtbaslik {
    padding-top: 1px;
    color: #23262e;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.icerikkonutarih {
    color: #9da1a9;
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
}

.platfromkategorisi {
    font-size: 0.8em;
    color: #ffffff;
    font-weight: 300
}

.baslik {
    font-size: 2.7em;
    font-weight: 500;
    color: #ffffff;
}

.alti {
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 300
}

.boyustkismisagi {
    margin-left: 20px;
}

.witter {
    background: #ffba00;
    background-image: url('../img/bg-mwitter.png');
    background-position: right top;
    height: 170px;
    background-repeat: no-repeat
}

.wittercontent {
    padding: 12px;
}

.witterustkisim span {
    color: white;
}

.ustsag {
    cursor: pointer;
    float: right;
}

.altkisim {
    color: white;
    margin-top: 30px;
}

.altkisim .mwitteraciklama {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.altkisim .mwittertarih {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.yorumbtn {
    width: 115px;
    height: 40px;
    margin-top: 10px;
    display: block;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.buyuk {
    margin-top: 15px;
    float: left;
}

.buyuk img {
    width: 535px;
    height: 307px;
}

.buyuk .bodyustkismisoluyazikismi {
    width: 535px;
    height: 307px;
}

.kucuk {
    margin: 15px 0px 0px 7px;
    float: left;
    overflow: hidden;
}

.kucuk img {
    width: 250px;
    height: 146px;
}

.kucuk .bodyustkismisoluyazikismi {
    width: 250px;
    height: 146px;
}

.kucuk .baslik {
    font-size: 16px;
}

.resim img {
    widows: 100px;
    height: 100px;
}

.row {
    display: flex;
}

.bildiri {
    flex: 5;
}

.sidebar {
    flex: 2;
}

.resim {
    position: relative;
}

.bildiri ul {
    padding-left: 10px;
}

.bildiri img {
    width: 250px;
    height: 140px;
}

.bildiri .resim {
    display: inline-block;
}

.haberlerin {
    position: absolute;
    top: 0;
    left: 0;
}

.bildiri li {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.bildiri li:hover .icyazibaslik {
    transition: 0.2s;
    color: #FFD500;
}

.yazi {
    padding-left: 20px;
    flex-grow: 1;
    word-wrap: normal;
}

.icyazi {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    word-wrap: normal;
}

.icyazikonu {
    font-size: 10px;
    font-weight: 500;
    color: #9DA2A9;
    word-wrap: normal;
}

.icyazibaslik {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 19px;
    line-height: 21px;
    font-weight: 900;
    word-wrap: normal;
    color: black;
}

.icyazibaslik.yorumur {
    font-weight: 400;
}

.yorumur {
    word-wrap: normal;
}

.icyazialtbaslik {
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #74767B;
}

.icyazitarih {
    font-size: 10px;
    font-weight: 300;
    color: #74767B;
}

.sidebarkonu {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;
}

.sidebarlist {
    position: relative;
    height: 650px;
    background: #161A23;
    border-radius: 3px;
    margin: 16px 0px 16px 0px;
    padding: 15px 10px 15px 10px;
    ;
}

.kapsul {
    color: #A5A6AA;
    font-size: 13px;
    font-weight: 400;
    display: flex;
}

.kapsulsayi {
    flex: 1;
}

.kapsulyazisi {
    flex: 8;
}

.kapsulyazisi:hover a {
    color: white;
}

.kapsulsayi {
    font-size: 15px;
    text-align: center;
}

.siderow {
    padding-top: 18px;
}

.devam {
    padding-top: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.devam input {
    background: #FFD500;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    width: 90%;
    height: 50px;
    cursor: pointer;
}

.kapsulyazisi a {
    color: #A5A6AA;
}

.sidebarustu {
    padding-top: 10px;
}

.populer ul {
    margin: 0;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.populer li {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 50px;
    line-height: 50px;
    background: #292E39;
    border-top: 1px solid #FFD500;
    color: white;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.pop .sagustu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    margin-top: 10px;
    background: #F13434;
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

.pop .resim img {
    width: 280px;
    height: 157px;
}

.pop {
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.sidebarlist.alttaki {
    height: 1070px;
}

.popyazi {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #F3F3F3;
    font-size: 15px;
    font-weight: 500;
}

.pop:hover span {
    transition: 0.5s;
    color: #FFD500;
}

.row.enalt {
    margin-top: 20px;
}

.anketcontent {
    margin-top: 50px;
    padding: 10px;
}

.anketyazisi span {
    font-size: 18px;
    font-weight: 500;
    color: #23262e;
}

.anketsorusu {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #23262e;
}

.anketcevap {
    padding-top: 20px;
}

.anketcevap .ank {
    padding-top: 5px;
}

.oyla {
    width: 130px;
    height: 50px;
    display: inline-block;
    margin-top: 20px;
}

.oyla input {
    width: 100%;
    height: 100%;
    background: #FFD500;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.soncular {
    width: 130px;
    height: 50px;
    display: inline-block;
    margin-top: 20px;
}

.soncular input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    border-radius: 3px;
    border: 1px solid #FFD500;
}

.haberbutton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.haberbutton input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    background: #FFD500;
    border: none;
    border-radius: 3px;
}

.yorumcont {
    padding: 10px;
}

.yorumyazisi {
    border: 1px solid #9DA2A955;
    border-radius: 3px;
    margin-top: 5px;
}

.yorum {
    padding: 10px;
}

.yorumyazan span {
    font-size: 12px;
    font-weight: 400;
    color: #8098af;
}

.yorumunkendisi span {
    font-size: 14px;
    font-weight: 500;
    color: #23262E;
}

.yorumtarihi span {
    font-size: 12px;
    font-weight: 300;
    color: #545861;
}

.sayfa-numarasi ul {
    width: 80%;
    text-align: center;
}

.sayfa-numarasi li {
    display: inline-block;
    border: 1px solid #33333322;
    border-radius: 3px;
}

.sayfa-numarasi li a {
    padding: 15px;
    color: #23262e;
    font-size: 12px;
    font-weight: 500;
}

.ozelinceleme {
    width: 740px;
}

a {
    color: none;
}

.siralama {
    height: 60px;
    background: #F0F4F5;
}

.siralama ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.siralama li {
    display: inline-block;
    border-right: 1px solid #161A2322;
    padding: 10px;
}

.siralama li a {
    color: #161A23;
    font-size: 14px;
    font-weight: 500;
}

.sidebarustu ul {
    padding-left: 0;
}

.sidebarustu ul li:hover .title {
    transition: 500ms;
    color: #FFD500;
}

.sidebarustu ul li:hover .sayi {
    transition: 500ms;
    color: #FFD500;
}

.sidebarustu li {
    padding-top: 10px;
}

.sidebarresim {
    position: relative;
    display: inline-block;
}

.sidebarresim .sayi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
    font-size: 48px;
    color: #ffffff;
    font-weight: 900;
}

.sidebarresim img {
    width: 100px;
    height: 120px;
}

.caption {
    padding-left: 10px;
    width: calc(100% - 120px);
    display: inline-block;
}

.caption .title {
    font-weight: 600;
    color: #FEFEFE;
}

.caption .text {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
}

.caption .mark {
    padding-top: 5px;
    font-size: 10px;
    font-weight: 500;
    color: #FFD500;
}

.yorumsayisi.solalti {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #FFD500;
}

.puan {
    color: #161A23;
}

.haberin {
    position: absolute;
    bottom: 0px;
    left: 0;
}

.sidebarlist.pop {
    height: 1000px;
}

.icerikresim img {
    width: 100%;
    height: 100%;
}

.baslikkonusu a {
    color: #292c34;
    font-size: 37px;
    font-weight: 700;
}

.yazarresim {
    padding-top: 20px;
    display: inline-block;
}

.yazarresim img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.icerikyazari {
    position: relative;
}

.yazar {
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5px;
}

.yazar p {
    margin: 2px 0px 0px 0px;
}

.yazarismi {
    display: inline-block;
    color: #5d616a;
    font-size: 14px;
    font-weight: 500;
}

.anabaslik {
    margin: 20px 0px 20px 10px;
    font-weight: 500;
}

.yazilantarih {
    color: #5d616a;
    font-size: 11px;
    font-weight: 300;
}

.tags ul li a {
    color: #1a94d4;
    font-weight: 400;
    font-size: 13px;
}

.tags ul li {
    display: inline-block;
    padding-left: 10px;
}

.ikon {
    display: inline-block;
}

.ikon img {
    width: 60px;
    height: 60px;
}

.textyorum {
    width: 100%;
    height: 70px;
    resize: none;
    margin-bottom: 20px;
}

.formyeri {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.gonder {
    width: 170px;
    height: 45px;
    background: #FFD800;
    border: none;
}

.yorumetkinligi {
    margin-left: 20px;
}

.yorumgostermeyeri {
    background: #FBFCFC;
    border: 1px solid #161A2355;
    border-radius: 3px;
    margin-left: 65px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.yorumetkinligi span {
    font-size: 14px;
    font-weight: 400;
    font: italic;
    margin-right: 20px;
}

.yorumyazisi.yorumyeri {
    padding: 20px;
    border: none;
}

.yorumayorum {
    margin-top: 20px;
    border-top: 1px solid #161A2344;
    margin-left: 50px;
    margin-right: 20px;
}

.yorumyazisi.yorumyeri.yorumyorumu {
    padding-top: 0px;
}

.ion-thumbsup.es {
    color: white;
    background: #3673EE;
    border-radius: 100%;
    padding: 10px;
}

.ion-chatbubbles.es {
    color: white;
    background: #3673EE;
    border-radius: 100%;
    padding: 10px;
}

.yorumetkinligi i {
    font-size: 15px;
    font-weight: 400;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.ara {
    margin: 20px;
}

.girisbaslik {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.girisformu {
    max-width: 22rem;
    margin: 50px auto;
}

.benihat {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #88999f;
    top: 50%;
    transform: translateY(-60%);
}

.inputcss {
    width: 100%;
    height: 3rem;
    border: 1px solid #E7ECEE;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.benihatirlacl {
    width: 25px;
    height: 25px;
}

.girisbutton, .cikisbutton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.girisbutton button, .cikisbutton button {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    background: #FFD500;
    border: none;
    border-radius: 3px;
}

.profil-cover {
    width: 100%;
    height: 200px;
}

.chance-over {
    display: inherit;
    padding: 7px;
    margin: 20px;
    float: right;
    background: #161A2370;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    font-weight: 500;
}

.chance-over i {
    padding: 5px;
}

.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.profil-bilgi {
    margin-left: 60px;
}

.profilbilgiler {
    display: inline-block;
    margin-left: 20px;
}

.profilad {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.profilbilgiler ul {
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.profilbilgiler ul li {
    display: inline-block;
    padding-right: 20px;
}

.profilbilgiler ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.kisisel {
    display: flex;
    width: 800px;
    justify-content: flex-start;
}

.kisiselbilgi {
    flex: 2;
    margin-right: 40px;
}

.sifredegistir {
    flex: 2;
}

.kisiselbilgi input {
    color: #161A2355;
}

.dogumtar {
    margin-bottom: 20px;
}

.MKTV {
    padding-top: 20px;
    padding-left: 6px;
}

.mktviceriksol {
    flex: 1;
}

.mktvyazi {
    display: flex;
    flex-direction: column;
}

.mktvicerik {
    display: flex;
    flex-direction: column;
}

.arabosluk {
    display: flex;
    flex-direction: row;
}

.mkviceriksag {
    flex: 1;
}

.mktvresim img {
    width: 525px;
    height: 300px;
}

.mktvtarih {
    font-size: 10px;
    font-weight: 300px;
    line-height: 20px;
    color: #9da1a9;
}

.mktvbaslik {
    font-size: 26px;
    font-weight: 900;
    color: #23262E;
    line-height: 30px;
    padding-top: 5px;
}

.mktvaltbaslik {
    color: #23262e;
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
}

.mkviceriksag {
    padding-left: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.mkvicerikvideolar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

.mktvvideofoto img {
    width: 251px;
    height: 140px;
}

.mktvvideoyazilar {
    display: flex;
    flex-direction: column;
}

.mktvbaslik.kucuk {
    margin-top: 0px;
    margin-left: 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 5px;
}

.mktvicerikik {
    flex: 1px;
}

.ustyazi {
    font-weight: 500;
    font-size: 18px;
}

.baslik.kuc {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
}

.alti.kuc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}